DB_HOST=localhost
DB_USER=usuario
DB_PASS=


# VARIABLES DE CONFIGURACIÓN DE LA BASE DE DATOS: PLANNER_DATABASE
PLANNER_DATABASE_ROOT_PASSWORD=rootpassword # Contraseña del usuario root de MariaDB
PLANNER_DATABASE_DATABASE=mydatabase # Base de datos que se creará al iniciar
PLANNER_DATABASE_USER=myuser # Usuario de la base de datos
PLANNER_DATABASE_PASSWORD=mypassword # Contraseña del usuario de la base de datos