# Plantilla de archivo .env para la configuración de servicios y bases de datos

# VARIABLES DE CONFIGURACIÓN DE LA BASE DE DATOS: PLANNER_DATABASE
PLANNER_DATABASE_ROOT_PASSWORD=rootpassword         # Contraseña del usuario root de MariaDB
PLANNER_DATABASE_DATABASE=mydatabase                # Base de datos que se creará al iniciar
PLANNER_DATABASE_USER=myuser                        # Usuario de la base de datos
PLANNER_DATABASE_PASSWORD=mypassword                # Contraseña del usuario de la base de datos
PLANNER_DATABASE_PORT=3306                          # Puerto estándar para MariaDB
PLANNER_DATABASE_HOST=planner_database              # Nombre del host de la base de datos

# VARIABLES DE CONFIGURACIÓN DEL MÓDULO: PLANNER_SERVICE
PLANNER_SERVICE_PORT=5001                           # Puerto dedicado al servicio del planificador
PLANNER_SERVICE_HOST=planner_service                # Nombre del host del servicio del planificador

# VARIABLES DE CONFIGURACIÓN DEL MÓDULO: GATEWAY_SERVICE
GATEWAY_SERVICE_PORT=8080                           # Puerto para el servicio del gateway (dejamos el 80 libre para la WebApp)
GATEWAY_SERVICE_HOST=gateway_service                # Nombre del host del servicio del gateway

# VARIABLES DE CONFIGURACIÓN DE LA WEBAPP
WEBAPP_PORT=3000                                     # Puerto reservado para servir la WebApp en producción
WEBAPP_HOST=webapp                                   # Nombre del host del frontend
